<section class="relative">
    <div class="flex justify-start items-center flex-col  pb-[15em]">
        <div class="w-[100%] px-[30px] mx-auto flex justify-start items-center flex-col">
            <div class="relative uppercase text-center font-editorial text-[2em] text-[#888]">
                <h2>( About Me )</h2>
            </div>
            <div class="relative flex justify-start mx-auto mt-[8em] md:mt-[4em]">
                <h2 id="about-content" class="leading-[0.98] text-[5.56em] text-center tracking-[-0.04em]">Enthusiastic about graphic design, typography and the dynamic areas of motion and web-based animations. <br> Specialized in translating brands into unique and immersive digital <br>user experiences.</h2>
            </div>
        </div>
    </div>
</section>