<section id="about-me" class="relative flex py-[12em] px-[30px] w-full justify-center items-center z-[4]">
    <div class="overflow-hidden flex w-[33em] justify-center items-center flex-col">
        <div class="relative overflow-hidden flex justify-start items-center mb-[15px]">
            <div class="text-[1.04em] tracking-[-0.02em] text-[#999] font-medium w-full leadinng-[1.5]">(About me)</div>
        </div>
        <p class="mt-0 mb-2.5 text-[1.67em] font-medium tracking-[-0.02em] text-center">I'm Karim, an art director, designer and developer. I create websites and apps that connect people with your brand.</p>
    </div>
</section>