<header class="fixed hidden md:flex w-[100%] justify-between items-center z-999 px-[30px] py-[20px] text-primary">
    <a href="*" class="inline-block relative cursor-pointer font-extrabold text-3xl">DMB <span class="font-editorial">/dev</span></a>
    <div class="flex">
        <a href="" class="relative overflow-hidden flex text-[0.94em] px-[16px] py-[10px] mr-3 justify-center items-center border border-[#fff] radius rounded-[40px] bg-[#222] text-primary hover:bg-[#222] hover:text-primary transition duration-300">Home</a>
        <a href="" class="relative overflow-hidden flex text-[0.94em] px-[16px] py-[10px] mr-3 justify-center items-center border border-[#fff] radius rounded-[40px] bg-white text-accent hover:bg-[#222] hover:text-primary transition duration-300">About</a>
        <a href="" class="relative overflow-hidden flex text-[0.94em] px-[16px] py-[10px] mr-3 justify-center items-center border border-[#fff] radius rounded-[40px] bg-white text-accent hover:bg-[#222] hover:text-primary transition duration-300">Work</a>
        <a href="" class="relative overflow-hidden flex text-[0.94em] px-[16px] py-[10px] mr-3 justify-center items-center border border-[#fff] radius rounded-[40px] bg-white text-accent hover:bg-[#222] hover:text-primary transition duration-300">Contact</a>
    </div>
</header>