<header class="fixed flex z-[99] w-[100%] py-[20px] pl-[20px] pr-[10px] justify-between items-center">
    <a href="*" class="inline-block relative cursor-pointer font-extrabold text-xl">DMB <span class="font-editorial">/dev</span></a>
    <div class="relative flex w-[30px] h-[30px] items-center justify-center z-10">
        <div class="relative flex items-center justify-center flex-col rounded-sm w-[30px] h-[30px] z-[100] cursor-pointer">
            <div class="h-1 w-[22.5px] transform-3d bg-white"></div>
            <div class="h-1 w-[26px] transform-3d bg-white my-1"></div>
            <div class="h-1 w-[22.5px] transform-3d bg-white"></div>
        </div>
    </div>
</header>