<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>DMBDEV Portfolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import "tailwindcss";

	body {
		background-color: #17171b;
		color: white;
	}

	@theme {
		--color-primary: #ffffff;
		--color-accent: #3a3a40;
	}
</style>
